{% extends "base/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span6">
            <div id="graph" style="width:100%;height:400px;"></div>
        </div>
        <div class="span2" >
            <select id="severityLevel">
              <option value="0">Emergency</option>
              <option value="1">Alert</option>
              <option value="2">Critical</option>
              <option value="3">Error</option>
              <option value="4">Warning</option>
              <option value="5" selected="selected">Notice</option>
              <option value="6">Informational</option>
              <option value="7">Debug</option>
            </select> 
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src='{% static "js/jquery.flot.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.flot.time.js" %}'></script>
    <script type="text/javascript" src='{% static "js/events.js" %}'></script>
{% endblock %}
