{% extends "base/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span6 offset2">
            <div id="graph" style="width:800px;height:400px;"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src='{% static "js/jquery.flot.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.flot.time.js" %}'></script>
    <script type="text/javascript" src='{% static "js/events.js" %}'></script>
{% endblock %}
