{% load i18n %}
{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href='{% static "bootstrap/css/bootstrap.css" %}' rel="stylesheet">
        <link href='{% static "bootstrap/css/bootstrap-responsive.css" %}' rel="stylesheet">
        <style> 
            body {
                padding-top: 60px;
            }
        </style>
        {% block css %}
        {% endblock %}
    </head>
    <body>
           {% block navigation %}  {% endblock %}
           {% block content %} {% endblock %}
           <script type="text/javascript" src='{% static "js/jquery-1.9.1.js" %}'></script>
           <script type="text/javascript" src='{% static "bootstrap/js/bootstrap.js" %}'></script>
           {% block javascript %} {% endblock %}
    </body>
</html>
